include ../mixins/mixins
include ../templates/blocks.pug

doctype html
html(lang='ru')
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    link(rel='shortcut icon', href="img/favicon.ico", type="image/x-icon")
    link(rel='stylesheet', href='css/style.css?version=1')
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
    meta(name="format-detection", content="telephone=no")
    title="Стартовый шаблон для верстки"
  body
    script(src="js/scripts.js?version=1")