include ../mixins/bemto/bemto
- set_bemto_settings({ modifier: "--" })

mixin navMenu(data)
  +e.UL(class='wrap-elements-level-' + data[0].level)
    each item in data
      +e.LI(class='element-level-' + item.level)
        +e.A(href= item.link class='link-level-' + item.level)= item.title
        if item.submenu
          +navMenu(item.submenu)

mixin imgRetina(img, retina, alt)
  img(src=img srcset=retina alt=alt)